.content{
    text-align: center;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 20%;
}
.green
{
    color: green;
}
body{
    background-image: url("bg1.jpg");
    background-size: cover;
    opacity: 80%;
}
html{
    height: 100%;
}